# We don't do build directories here.
bin/
build/

# We don't do Qt Creator cache files here.
*.user

# We don't ignore other files because they are indispensable to build.
# We don't ignore ourselves. (Sorry for being psychologically deep)
